.sliders {
    display: flex;
    width: 36.5%;
    background-color: #292b2c;
    padding: 20px;
    flex-direction: column;
}

.imgstream {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.autopictures label{
    color: white;
}
.on.False{
    color: grey;
}
.off.True{
    color: grey;
}

a {
    text-decoration: none !important;
    color: white;
}

.slider_focus, .slider_pan, .slider_tilt, .slider_zoom {
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.buttons a{
    margin: 10px
}

.home{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

p {
    color: white !important;
}